<?xml version="1.0" encoding="utf-8"?>
<!--Created with SharpOcarina 1.45-->
<Settings xmlns="clr-namespace:SharpOcarina;assembly=SharpOcarina">
  <ShowCollisionModel>false</ShowCollisionModel>
  <ShowRoomModels>true</ShowRoomModels>
  <ApplyEnvLighting>false</ApplyEnvLighting>
  <ConsecutiveRoomInject>true</ConsecutiveRoomInject>
  <ForceRGBATextures>false</ForceRGBATextures>
  <Disablewaterboxmovement>false</Disablewaterboxmovement>
  <Degrees>true</Degrees>
  <AutoaddObjects>true</AutoaddObjects>
  <DisplayAxis>true</DisplayAxis>
  <DListCulling>true</DListCulling>
  <UpdateCRC>false</UpdateCRC>
  <RenderActors>true</RenderActors>
  <MajorasMask>true</MajorasMask>
  <AutoSave>true</AutoSave>
  <UndocumentedCutsceneVars>true</UndocumentedCutsceneVars>
  <MaxUndoRedo>10</MaxUndoRedo>
  <MaxLastFile>10</MaxLastFile>
  <DisableEasterEgg>false</DisableEasterEgg>
  <NoDummyPoints>false</NoDummyPoints>
  <printoffsets>false</printoffsets>
  <sharptextures>false</sharptextures>
  <TriplicateCollisionBounds>false</TriplicateCollisionBounds>
  <HexRotations>false</HexRotations>
  <GenerateCustomDMATable>false</GenerateCustomDMATable>
  <EmptySpace>0</EmptySpace>
  <Yoffsetfix>0</Yoffsetfix>
  <WriteCollisionZobj>true</WriteCollisionZobj>
  <Zmapoffsetnames>false</Zmapoffsetnames>
  <OldRenderFormula>true</OldRenderFormula>
  <DontConvertMultitexture>false</DontConvertMultitexture>
  <CheckEmptyOffset>true</CheckEmptyOffset>
  <RenderChildLink>false</RenderChildLink>
  <IgnoreMMDaySystem>true</IgnoreMMDaySystem>
  <DrawSelectedCutsceneCommands>false</DrawSelectedCutsceneCommands>
  <colorblindaxis>false</colorblindaxis>
  <DisableRGBA32>false</DisableRGBA32>
  <firsttime>false</firsttime>
  <command1AOoT>true</command1AOoT>
  <AutoFixErrors>true</AutoFixErrors>
  <OnlyRenderWaterboxesGeneral>true</OnlyRenderWaterboxesGeneral>
  <DisableTextureWarnings>false</DisableTextureWarnings>
  <EnableNewExitFormat>false</EnableNewExitFormat>
  <AutoReload>false</AutoReload>
  <DisableCutsceneBlackBars>false</DisableCutsceneBlackBars>
</Settings>